HUGGING_FACE_ACCESS_TOKEN=

QDRANT_URL=
QDRANT_COLLECTION_NAME=

GROQ_API_KEY=

ASSEMBLY_AI_API_KEY=

TELEGRAM_BOT_KEY=

LANGSMITH_API_KEY=
LANGSMITH_TRACING=
LANGSMITH_PROJECT=

MONGODB_URL=

MAILJET_API_KEY=
MAILJET_SECRET_KEY=
DEFAULT_FROM_EMAIL=